# More code with DataFrame.

In [1]:
import pandas as pd

import numpy as np
from numpy.random import randn
np.random.seed(123)

In [6]:
df = pd.DataFrame(
    randn(5, 3),
    index=['A', 'B', 'C', 'D', 'E'],
    columns=['C1', 'C2', 'C3'])
df

         C1        C2        C3
A -0.011830  2.392365  0.412912
B  0.978736  2.238143 -1.294085
C -1.038788  1.743712 -0.798063
D  0.029683  1.069316  0.890706
E  1.754886  1.495644  1.069393

### `df.head()`

In [7]:
df.head(n=3)

         C1        C2        C3
A -0.011830  2.392365  0.412912
B  0.978736  2.238143 -1.294085
C -1.038788  1.743712 -0.798063

In [8]:
df <= 0

      C1     C2     C3
A   True  False  False
B  False  False   True
C   True  False   True
D  False  False  False
E  False  False  False

In [11]:
# Takes only data that obays the condition
df_ = df[df<=0]
df_

         C1  C2        C3
A -0.011830 NaN       NaN
B       NaN NaN -1.294085
C -1.038788 NaN -0.798063
D       NaN NaN       NaN
E       NaN NaN       NaN

In [12]:
# Takes only data that obays the condition and in the specified column
df_ = df[df['C1'] <= 0]
df_

         C1        C2        C3
A -0.011830  2.392365  0.412912
C -1.038788  1.743712 -0.798063

In [14]:
# Takes only data that obays the condition and in the specified columns
df_ = df[(df['C1'] <= 0) & (df['C2'] > 0)]
df_

         C1        C2        C3
A -0.011830  2.392365  0.412912
C -1.038788  1.743712 -0.798063

In [15]:
# Takes only the specified column that obays the condition and in the specified column
df_ = df[(df['C1'] <= 0) & (df['C2'] > 0)]['C3']
df_

A    0.412912
C   -0.798063
Name: C3, dtype: float64